#contact-form {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

form label {
  display: block;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  font-size: 1.1rem;
  padding: 0.5rem;
}

textarea {
  height: 12rem;
}

input[type='submit'] {
  padding: 0.5rem;
  font-size: 1.1rem;
  min-width: 10rem;

  border-radius: 20px;
  border: 0;
  background: deepskyblue;
  background: linear-gradient(to right, #ccddee, #8de5ff, deepskyblue);
}
