
footer{
    background-color: black;
    padding-top: 1.3rem ;
    padding-bottom: 2.3rem 
    
}

.logo-footer{
    text-align: center;
    font-size:1.6rem;
    background-color: black;
}

.prueba-gratis{
   
    font-size: 0.8rem;
    padding:0.1rem;
    background-color: #157DA7 ;
    max-width: 160px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 1rem;
    border-radius: 15px;
    
}


.lista-footer{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.9rem;

    
}

.li-footer{
    padding-right: 3rem;
    padding-top:1rem;
    
}

.link-footer{
    color:silver;
}


