
  .heading-plataformas{
    /* background-color: rgb(175, 174, 174); */
  }
  
  .container-plataformas{
    position:relative;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem 2rem;
    background-color: #0f1113;
    color: rgb(175, 174, 174);
}

.container-plataformas img{
  max-width: 60%;
  max-height: 60%;

}

.item{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 15rem;
    
    /* height:10rem; */
    
}

.item>p{
    text-align: center;;
}



@media (min-width: 1000px) {

  .container-plataformas{
      position:relative;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 3rem;
      padding: 2.5rem 6rem;

}